<!doctype html>
<html lang="pt-BR">
	<head>
		<title>Parafuso Moda Praia</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="Os melhores biquínis de Salvador, você encontra aqui!" />
		<meta name="keywords" content="biquínis, salvador, revenda, comprar, parafuso, moda, praia" />
		<link rel="stylesheet" href="./assets/css/main.css" />
		<script src="https://kit.fontawesome.com/63bb5beb31.js"></script>

		
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1 style="display: none">Parafuso</h1><img src="images/gallery/logo.png" alt="logo escrito parafuso moda praia" /><h2 style="display: none">Moda Praia</h2>
							<p style="color: white"><a style="color: white" href="#">  <i class="fas fa-map-marked-alt fa-2x"></i> Rua do Futuro - Santa Cruz n° 9999</a> <br>  <a style="color: white" href="https://ggbr.me/LkKq9xsByEXUq91" target="_blank"> <i class="fab fa-whatsapp-square fa-2x"></i> Contato Whatsapp</a> </p>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="images/picc.png" alt="um casal a menina está usando um biquíni o rapaz uma sunga" /></span>
						</div>
					</section>

				<!-- Section -->
					<section id="first">
						<header>
							<h2 style="color: rgb(255, 255, 255)">Coleção 2019</h2>
						</header>
						<div class="content">
							<p>A <strong>Parafuso Moda Praia</strong> prepara, como sempre, uma coleção especial pensada em você, confira todos os nossos modelos e encontre aquele que te seja perfeito.</p>
							<span class="image main"><img style="border: 2px solid #2e66e4f2" src="images/picc2.jpg" alt="vários biquinis expostos" /></span>
						</div>
					</section>

					
				<!-- Section removido no momento, será a página de apresentação do material
					<section>
						<header>
							<h2>Feugiat consequat tempus ultrices</h2>
						</header>
						<div class="content">
							<p><strong>Etiam tristique libero</strong> eu nibh porttitor amet fermentum. Nullam venenatis erat id vehicula ultrices sed ultricies condimentum.</p>
							<ul class="feature-icons">
								<li class="icon solid fa-laptop">Consequat tempus</li>
								<li class="icon solid fa-bolt">Etiam adipiscing</li>
								<li class="icon solid fa-signal">Libero nullam</li>
								<li class="icon solid fa-cog">Blandit condimentum</li>
								<li class="icon solid fa-map-marker-alt">Lorem ipsum dolor</li>
								<li class="icon solid fa-code">Nibh amet venenatis</li>
							</ul>
							<p>Vehicula ultrices sed ultricies condimentum. Magna sed etiam consequat, et lorem adipiscing sed nulla. Volutpat nisl et tempus et dolor libero, feugiat magna tempus, sed et lorem adipiscing.</p>
						</div>
					</section>
					 -->

				<!-- Section -->
					<section>
						<header>
							<h2 style="color: rgb(255, 255, 255)">Nossos produtos</h2>
						</header>
						<div class="content">
						<!--	<p> Confira nossa <strong>galeria</strong></p> -->
							<!-- Section -->
								<section>
									<header>
										<h3>Biquínis</h3>
										<p>Confira nossa linha exclusiva de biquínis</p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="images/gallery/fulls/001.jpg" class="landscape"><img src="images/gallery/thumbs/001.jpg" alt="biquini" /></a>											
											<a href="images/gallery/fulls/002.jpg"><img src="images/gallery/thumbs/002.jpg" alt="modelo com biquini" /></a>
											<a href="images/gallery/fulls/003.jpg"><img src="images/gallery/thumbs/003.jpg" alt="modelo com biquini" /></a>
											<a href="images/gallery/fulls/004.jpg"><img src="images/gallery/thumbs/004.jpg" alt="modelo com biquini" /></a>
											<a href="images/gallery/fulls/005.jpg"><img src="images/gallery/thumbs/005.jpg" alt="modelo com biquini" /></a>
										</div>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header>
										<h3>Maiôs</h3>
										<p>Confira nossa linha exclusiva de maiôs</p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="images/gallery/fulls/0000.jpg" class="landscape"><img src="images/gallery/thumbs/0000.jpg" alt="maiô" /></a>
											<a href="images/gallery/fulls/006.jpg"><img src="images/gallery/thumbs/006.jpg" alt="modelo com maiô" /></a>
											<a href="images/gallery/fulls/007.jpg"><img src="images/gallery/thumbs/007.jpg" alt="modelo com maiô" /></a>
											<a href="images/gallery/fulls/0077.jpg" class="landscape"><img src="images/gallery/thumbs/0077.jpg" alt="modelo com maiô" /></a>
										</div>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header>
										<h3>Produtos diversos</h3>
										<!-- <p>Também temos outros produtos</p> -->
									</header>
									<div class="content">
										<div class="gallery">
											<a href="images/gallery/fulls/008.jpg" class="portrait"><img src="images/gallery/thumbs/008.jpg" alt="modelo com biquini" /></a>
											<a href="images/gallery/fulls/009.jpg" class="portrait"><img src="images/gallery/thumbs/009.jpg" alt="biquini" /></a>
											<a href="images/gallery/fulls/100.jpg" class="landscape"><img src="images/gallery/thumbs/100.jpg" alt="diversos biquínis" /></a>
										</div>
									</div>
								</section>

						</div>
					</section>				
					<section>
						<header>
							<h2 style="color: rgb(255, 255, 255)">Entre em contato</h2>
						</header>
						<div class="content">
							<div style="color: #1E90FF">
							<p style="text-align: center"><strong style="font-size: 20px"> <a style="border-bottom: none" href="https://ggbr.me/LkKq9xsByEXUq91" target="_blank">  Aguardamos uma mensagem sua </a></strong> <br> <a style="border-bottom: none" href="https://ggbr.me/LkKq9xsByEXUq91" target="_blank">  <i class="fab fa-whatsapp fa-5x"></a></i></p>
							</div>
					
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="#">sahusa.vinicius@gmail.com</a>
								</li>
								<li>
									<h3>Telefone</h3>
									<a href="#">(71) 98779-6626</a>
								</li>
								<li>
									<h3>Endereço</h3>
									<span>Rua do Futuro - Santa Cruz Nº 999</span>
								</li>
								<li>
									<h3>Redes sociais</h3>
									<ul class="icons">										
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>										
									</ul>
								</li>
							</ul> 
						</footer> 
					</section>

				<!-- Copyright -->
					<div class="copyright">&copy; Todos os direitos reservados. Design: <a href="#">Diferente Luz</a>.</div>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>			
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>			
			<script src="js/main.js"></script> 	
	</body>
</html>